h3 {
  font-size: 20px;
  color: rgb(90, 90, 90);
}

h3 span {
  color: orange;
}

#current-word {
  font-size: 120px;
  font-weight: 10;
  padding-bottom: 20px;
}

#instructions {
  display: none;
}

.btn {
  display: none;
}

#ebutton:active,
#mbutton:active,
#hbutton:active {
  background-color: red;
}


#current-word {
  display: none;
}


/* media queries */
@media only screen and (max-width: 1200px) {
  #current-word {
    font-size: 80px;
  }

  .lead {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  #mybtn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {

  #mybtn {
    font-size: 8px;
    padding: 2px;
  }

  #instructions {
    font-size: 12px;
  }

  #headerr h1 {
    font-size: 26px;
  }

  #current-word {
    font-size: 50px;
  }

  .lead {
    font-size: 12px;
  }

  #stats h3 {
    font-size: 16px;
  }

  #word-input {
    max-height: 30px;
    font-size: 16px;
  }

  #message {
    font-size: 14px;
  }

  #ebutton,
  #mbutton,
  #hbutton {
    font-size: 10px;
  }

}

/* classes */
.active {
  background-color: red;
}